<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
    <title>About</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark shadow">
        <div class="container">
            <a href="#!" class="navbar-brand"> Users </a>
            <div style="font-size: 1rem;">
                <a href="/" class="text-light""> Home </a> <i class=" ml-2 mr-2 text-light">/</i>
                    <a href="about" class="text-light" style="font-size: 1rem;"> About</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>About</h2>
        <h3 class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aliquid quas officiis dolores deserunt magnam
        corrupti maiores asperiores accusantium et, optio cumque iste vitae vero ipsa, blanditiis, necessitatibus nobis
        ab distinctio id laboriosam animi? Totam nisi recusandae vero facilis necessitatibus quibusdam deleniti. Tempore
        eligendi doloribus eum accusamus, deserunt alias dolores impedit? Modi sint libero, quia asperiores iusto
        temporibus adipisci fugit commodi labore repudiandae provident, possimus doloremque mollitia ducimus laboriosam
        eligendi. Modi culpa illum assumenda corrupti quibusdam a voluptatum sit explicabo iste incidunt excepturi
        veritatis aspernatur, amet atque pariatur laborum consequuntur! Praesentium quis accusantium mollitia? Dolore
        error officia at dignissimos nemo.
        </h3>
    </div>
</body>

</html>